<section data-ng-controller="SpeakersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Speakers</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="speaker in speakers" data-ng-href="#!/speakers/{{speaker._id}}/edit" class="list-group-item">
            <img gravatar-src-once="speaker.email" class="list-group-item" style="float:left; margin-right: 10px;">
			<h4 class="list-group-item-heading"> <span data-ng-bind="speaker.name"></span></h4>
            <h5 class="list-group-item-heading"> Track : <span data-ng-bind="speaker.title"></span></h5>
            <p> Description: <span data-ng-bind="speaker.description"></span></p>
            <p class="list-group-item"> Time: <span data-ng-bind="speaker.schedule"></span></p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!speakers.$resolved || speakers.length">
    	No Speakers yet, why don't you <a href="/#!/speakers/create">create one</a>?
    </div>
</section>