<section data-ng-controller="SpeakersController" data-ng-init="findOne()">
	<div class="page-header">
        <div class="row">
            <div class="col-md-12">
                <div class="thumbnail">
                    <img gravatar-src-once="speaker.email" alt="{{speaker.name}}">
                    <div class="caption">
                        <h3 class="text-center" data-ng-bind="speaker.name"></h3>
                        <h4 class="text-center" data-ng-bind="speaker.title"></h4>
                        <p class="text-center" data-ng-bind="speaker.schedule"></p>
                        <p class="text-justify" data-ng-bind="speaker.description"></p>
                    </div>
                    <small>
                        <em class="text-muted">
                            Posted on
                            <span data-ng-bind="speaker.created | date:'mediumDate'"></span>
                            by
                            <span data-ng-bind="speaker.user.displayName"></span>
                        </em>
                    </small>
                </div>
                <div class="btn-group btn-group-justified" data-ng-show="authentication.user._id == speaker.user._id">
                    <div class="btn-group">
                        <a class="btn btn-default" href="/#!/speakers/{{speaker._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i> Edit
                        </a>
                    </div>
                    <div class="btn-group">
                        <a class="btn btn-default" data-ng-click="remove();">
                            <i class="glyphicon glyphicon-trash"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>




	</div>


</section>