<!doctype html>
<html>
<head>
    <title>Conference API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
    <link rel="stylesheet" href="/bower_components/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/marketing.css">
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Conference API</a>

        <ul>
            <li class="pure-menu-selected"><a href="#"> Home</a></li>
            <li><a href="/login"> Login</a></li>
            <li><a href="/signup"> Signup</a></li>
        </ul>
    </div>
</div>

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Conference</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="/login" class="pure-button pure-button-primary">View Speakers</a>
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div class="footer l-box is-center">
        Conference-API @ 2014
    </div>
</div>
</body>
</html>