<!doctype html>
<html>
<head>
    <title>Conference API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
    <link rel="stylesheet" href="/bower_components/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/marketing.css">
    <style>
        .container {
            width: 60%;
            margin: 0 auto;
            padding-top: 80px;
        }
        .alert {
            color: #fff;
            padding: 10px;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Conference API</a>
        <ul>
            <li><a href="/profile"><span class="fa fa-user"></span> <%= user.local.email %></a></li>
            <li><a href="/logout" class="btn btn-default"><span class="fa fa-power-off"></span> Logout</a></li>
        </ul>
    </div>
</div>
<div class="container">

	<div class="datails">
		<h3><span class="fa fa-user"></span> User Details</h3>
			<p>
				<strong>email</strong>: <%= user.local.email %><br>
			</p>
	</div>

</div>
</body>
</html>