<!doctype html>
<html>
<head>
    <title>Conference API</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/responsiveboilerplate/css/responsiveboilerplate.min.css">
    <link rel="stylesheet" href="/bower_components/purecss/build/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/marketing.css">
    <style>
        .container {
            width: 60%;
            margin: 0 auto;
            padding-top: 80px;
        }
        .alert {
            color: #fff;
            padding: 10px;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Conference API</a>

        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login"> Login</a></li>
            <li class="pure-menu-selected"><a href="/signup"> Signup</a></li>
        </ul>
    </div>
</div>
<div class="container">

	<h1> Signup</h1>

	<% if (message.length > 0) { %>
		<div class="alert"><%= message %></div>
	<% } %>

    <form action="/signup" method="post" class="pure-form">
        <fieldset>
            <input id="email" class="pure-input-1" type="email" placeholder="Email Address" name="email" required>
            <input id="password" class="pure-input-1" type="password" placeholder="Password" name="password" required>

            <button type="submit" class="pure-button pure-button-primary">Submit</button>

            <p>Have an account? <a href="/login">Login</a> or go back to <a href="/">home</a>.</p>
        </fieldset>
    </form>

</div>
</body>
</html>